#play-view, #outro-view {
  display: none
}

.door-frame, #next-question, #view-final-score{
  display: none
}

header {
  font-size: 70px;
  font-family: 'Garto', Fallback, serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

body {
  background-color: #0f1b26;
  color: white;
}

footer a {
  color: white;
}

footer {
  margin-top: 40px;
}

#intro-view h3{
  font-family: 'Playfair+Display', sans-serif;
  font-size: 26px;
  font-weight: 200;
}

#intro-view h2 {
  margin-top: 42px;
  font-family: 'Playfair+Display', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

#game-view h3{
  font-family: 'Playfair+Display', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#game-view label{
  font-family: 'Playfair+Display', sans-serif;
  font-size: 18px;
  font-weight: 200;
}

#game-view #count, #scoring, legend{
  font-family: 'Garto', Fallback, serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

#game-view fieldset {
  border: none;
  margin-right: 15px;
}

#game-view .incorrect {
  text-decoration: line-through;
}

#game-view .correct {
  font-size: 20px;
  font-weight: 470;
}

#outro-view #character-response {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Garto';
  font-style: italic;
  font-size: 28px;
  line-height: 110%;
}

#outro-view h2{
  font-family: 'Playfair+Display', sans-serif;
  font-size: 26px;
  font-weight: 300;
}

@font-face {
  font-family: 'Garto';
  src: url('../images/garto16.ttf') format('truetype')
}

@media(max-width:835px) {
  .radio-group {
    margin-left: 20%;
  }
}

@media(max-width:500px) {
  .radio-group {
    margin-left: auto;
  }
}

@media(max-width:407px) {
  label.correct span.inner-label {
    font-size: 18px;
  }
  label.incorrect span.inner-label{
    font-size: 16px;
  }
}

