
.radio-group {
  text-align: left;
  display: block;
}


 .radio-group-label {
   display: block;
   width: 100%;
   margin: 10px 0;
 }

 .radio-label {
   display: block;
   position: relative;
   margin: 10px;
 }

 .radio-label input {
   opacity: 0;
   position: absolute;
 }

  .radio-label .inner-label {
   padding-left: 40px;
 }

 .radio-label .inner-label:before {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
   width: 30px;
   transition: border-bottom 0.5s ease;
 }

 .radio-label input:focus~.inner-label:before {
   border-bottom: 1px solid rgba(255, 255, 255, 0.75);
 }

 .radio-label input:checked~.inner-label:after {
   content: '\2713';
   color: #fff;
   position: absolute;
   font-size: 12px;
   left: 12px;
   top: 1px;
 }
